<tr class="table-entry">
    <th>{{animalID}}</th>
    <th>{{species}}</th>
    <th>{{breed}}</th>
    <th>{{animalName}}</th>
    <th>{{age}}</th>
    <th>{{gender}}</th>
    <th class="hidden"><a href={{pictureURL}}></a></th>
    <th>{{adoptabilityScore}}</th> <!-- Added column for Adoptability Score -->
</tr>
